@font-face {
  font-family: "atkinson";
  src: url("/assets/fonts/atkinson.woff2");
}

@font-face {
  font-family: "atkinson";
  src: url("/assets/fonts/atkinson_bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "cascadia";
  src: url("/assets/fonts/CascadiaCode.woff2");
}
