@import "./colors.scss";
@import "./vars.scss";
@import "./font.scss";
@import "./linkbox.scss";
@import "./tag.scss";
@import "./meowbutton.scss";
@import "./aboutme.scss";
@import "./glow.scss";

* {
  padding: 0;
  margin: 0;
  color: var(--foreground-color);
  font-family: "atkinson";
  text-decoration-thickness: var(--border-width);
  line-height: 2.5;
  box-sizing: inherit;
}

pre {
  border: var(--border-width) solid var(--cyan);
  white-space: pre-wrap;
  padding: var(--padding-size);
  border-radius: var(--inner-radius);
  overflow: auto;
  background: var(--code-background-color);
}

pre code {
  border: none;
  border-radius: 0;
}

code {
  font-family: "cascadia", monospace;
  border: var(--border-width) solid var(--cyan);
  border-radius: var(--inner-radius);
  padding: calc(var(--padding-size) / 4);
  background: var(--background-color-dark);
  color: var(--foreground-color-light);
}

.hljs > *,
.hljs > * > * {
  font-family: "cascadia", monospace;
}

*:before,
*:after {
  box-sizing: inherit;
}

header {
  @include glow;
  padding: var(--padding-size);
  width: 100%;
  background: var(--surface-color);
}

img {
  width: 100%;
  border-radius: var(--inner-radius);
}

.blinkybox a img {
  width: auto;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--cyan);
  text-decoration-thickness: var(--border-width);
}

strong {
  color: var(--mauve);
}

.mauve {
  color: var(--mauve);
}

iframe {
  width: 100%;
  height: 60px;
  outline: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: var(--border-width);
}

a.active:hover::before {
  content: ">";
  color: var(--green);
}

a.active::before {
  content: ">";
  color: var(--cyan);
}

footer {
  @include glow;
  width: 100%;
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  justify-content: space-evenly;
  background: var(--surface-color);
}

.footer-button {
  display: flex;
}

@keyframes gradientmove {
  0% {
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: space-between;
  background: linear-gradient(
    135deg,
    var(--cyan-subtle) 0%,
    transparent 25%,
    transparent 75%,
    var(--pink-subtle) 100%
  );
  background-attachment: fixed;
}

#content {
  justify-content: center;
  padding: var(--padding-size);
  gap: var(--padding-size);
  flex-grow: 5;
}

.blogpost {
  background-color: var(--surface-color);
  border-radius: var(--radius);
  padding: var(--padding-size);
  @include glow;
}

html {
  height: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
}

h1::before {
  content: "> ";
  color: var(--cyan);
}

.titletext {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

hr {
  border: calc(var(--border-width) / 2) solid var(--cyan);
  border-radius: var(--radius);
}

ul {
  padding-left: var(--padding-size);
}
