@import "./colors.scss";
@import "./vars.scss";
@import "./font.scss";
@import "./linkbox.scss";
@import "./tag.scss";

* {
  padding: 0;
  margin: 0;
  color: var(--foreground-color);
  font-family: "atkinson";
  text-decoration-thickness: var(--border-width);
  line-height: 2;
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--cyan);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--green);
}

a.active:hover::before {
  content: ">";
  color: var(--green);
}

a.active::before {
  content: ">";
  color: var(--cyan);
}

footer {
  width: 100%;
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  justify-content: space-evenly;
  border-top: var(--border-width) solid var(--cyan);
  background: var(--background-color);
}

.footer-button {
  display: flex;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-color);
}

#content {
  justify-content: center;
  padding: var(--padding-size);
  gap: var(--padding-size);
}

html {
  height: 100%;
  box-sizing: border-box;
}

h1::before {
  content: ">";
  color: var(--cyan);
}
