@import "./glow.scss";
@import "./grow.scss";

.outer-linkbox {
  @include glow;
  padding: var(--padding-size);
  display: flex;
  flex-direction: column;
  gap: var(--padding-size);
  background-color: var(--surface-color);
  border-radius: var(--radius);
}

.linkbox {
  @include hover-glow;
  @include grow;
  background-color: var(--alt-surface-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: 0 solid var(--cyan);
  padding: var(--padding-size);
  border-radius: var(--radius);
  &:hover {
    text-decoration: none;
  }
  legend {
    background-color: var(--surface-color);
    border-radius: var(--radius);
    border: 0 solid var(--cyan);
    align-self: right;
    margin-left: var(--padding-size);
    margin-right: calc(var(--padding-size) * 2);
    padding: var(--padding-size);
    @include glow;
  }
}

.linkbox > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-size);
}

.linkbox-container {
  display: grid;
  gap: var(--padding-size);
  grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
}

.linkbox-container img {
  width: 100%;
  object-fit: contain;
  border-radius: var(--radius);
}

@media screen and (max-width: 540px) {
  .linkbox-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-size);
    grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
  }
}
