.linkbox {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: var(--border-width) solid var(--cyan);
  padding: var(--padding-size);
  border-radius: var(--radius);
  legend {
    border-radius: var(--radius);
    border: var(--border-width) solid var(--cyan);
    align-self: right;
    margin-left: var(--padding-size);
    margin-right: calc(var(--padding-size) * 2);
    padding: var(--padding-size);
  }
}

.linkbox > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-size);
}

.linkbox-container {
  display: grid;
  gap: var(--padding-size);
  grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
}

.linkbox-container img {
  width: 100%;
  object-fit: contain;
  border: var(--border-width) solid var(--cyan);
  padding: var(--padding-size);
  border-radius: var(--radius);
}

@media screen and (max-width: 540px) {
  .linkbox-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-size);
    grid-template-columns: repeat(auto-fill, minmax(540px, 1fr));
  }
}
