@import "./grow.scss";
@import "./glow.scss";

.meowbutton {
  @include hover-glow;
  @include grow;
  display: flex;
  text-decoration: none;
  align-content: center;
  border-radius: var(--radius);
}

.meowbutton:hover {
  text-decoration: none;
}

.meownumber {
  background: var(--background-color);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  padding: calc(var(--padding-size) * 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.meowbutton-text {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: calc(var(--padding-size) * 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alt-surface-color);
}
