.meowbutton {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  text-decoration: none;
  align-content: center;
  border-radius: var(--inner-radius);
}

.meowbutton:hover {
  text-decoration: none;
}

.meownumber {
  background: var(--background-color);
  border-top-left-radius: var(--inner-radius);
  border-bottom-left-radius: var(--inner-radius);
  padding: var(--small-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

.meowbutton-text {
  border-top-right-radius: var(--inner-radius);
  border-bottom-right-radius: var(--inner-radius);
  padding: var(--small-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alt-surface-color);
}

.meowbutton:hover {
  .meowbutton-text {
    background-color: var(--hover-color);
  }
  .meownumber {
    background-color: var(--alt-surface-color);
  }
}
