.tag {
  border-radius: var(--radius);
  border: var(--border-width) solid var(--cyan);
  padding: calc(var(--padding-size) / 2);
  display: inline-block;
}

.tag:hover {
  border: var(--border-width) solid var(--green);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-size);
}
