.tag {
  color: var(--background-color);
  background: var(--cyan);
  border-radius: 0.24em;
  padding: calc(var(--padding-size) / 2);
  text-decoration: none;
  display: inline-block;
}

.tag:hover {
  background: var(--green);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--radius);
}
