:root {
  --border-width: 0.2rem;
  --padding-size: 0.8em;
  --radius: 2em;
  --inner-radius: calc(var(--radius) - var(--padding-size));
  --blur: 1em;
  --small-padding: calc(var(--padding-size) / 3);
}
